# My ML Project

In [1]:
import pandas as pd
data=pd.read_csv('Dina_Foods.csv',parse_dates=['Time stamp'],index_col='Time stamp')

data.head(10)
# Using "Data.head()" --- We are going to have First 5 values from Dina Foods.csv table(By Default).
#       "Data.head()" --- We use because we want first 10 values from attached table.
# data.tail(10)
# Using "Data.tail()" --- We are going to have Last 5 values from Dina Foods.csv table(By Default).
#       "Data.tail()" --- We use because we want Last 10 values from attached table.

                     Total_kWh  Temperatures_in_Cel
Time stamp
2021-08-01 00:00:00      47.71                15.06
2021-08-01 01:00:00      53.87                14.94
2021-08-01 02:00:00      50.19                14.78
2021-08-01 03:00:00      48.13                14.56
2021-08-01 04:00:00      44.67                14.37
2021-08-01 05:00:00      96.52                14.32
2021-08-01 06:00:00     114.04                14.68
2021-08-01 07:00:00     138.26                15.00
2021-08-01 08:00:00     135.52                15.74
2021-08-01 09:00:00     122.12                16.60

In [ ]:
df['2021-08'].Total_kWh